@charset "utf-8"

*
{
	margin:0;
	padding:0;
}

ul li
{
	height:20px;
	width:50px;
	list-style:none;
	display:inline-block;
	border:3px double violet;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	text-align:center;
}